@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0px;
  font-family: "Quicksand";
  color: black;
}
.navbar {
  padding: 20px; 
  display: flex;
  align-items: centre;
  margin: 0 auto;
  border-bottom: 1px solid ;
}
.navbar h2{
  color: blueviolet;
}
.navbar .Links{
  margin-left: 100px;
}
.Links ul{
  display: flex;
}
.Links li {
  list-style-type: none;
}
.navbar a{
  margin-left: 16px;
  text-decoration: aqua;
  padding: 6px;
}

/* form css */
form {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: rgb(0, 6, 6);
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #0720c4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #07066b;
}
.Content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}